*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
    background-color: palevioletred;
}
.dropdown1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 900;
}
.dropdown1>li{
    flex: 1;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    color: azure;
}
.dropdown1>li:hover {
background-color: pink;
}
.dropdown2{
    background-color: pink;
    position: absolute;
    top: 80px;
    visibility: hidden;
    list-style: none;
    width: inherit;
    z-index: 700;
}
#hover1:hover .dropdown2{
    visibility: visible;
}
.dropdown2>li{
    position: relative;
    height: 50px;
    padding-top: 10px;
}
.dropdown2>li:hover {
    background-color: palevioletred;
}
.dropdown3{
    background-color: pink;
    list-style: none;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 0px;
    width: 250px;
}
#hover2:hover .dropdown3{
    visibility: visible;
}
.dropdown3>li:hover{
    height: 100px;
    padding-top: 10px;
    background-color: palevioletred;
}
.dropdown4{
    background-color: pink;
    list-style: none;
    position: absolute;
    visibility: hidden;
    width: inherit;
    top: 80px;
}
#hover3:hover .dropdown4{
    visibility: visible;
}
.dropdown4>li{
    position: relative;
    height:50px;
    padding-top: 12px;
}
.dropdown4>li:hover{
background-color: palevioletred;
}
.dropdown5{
    background-color: pink;
    list-style: none;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 0px;
    width: 260px;
    height: auto;
}
#hover4:hover .dropdown5{
    visibility: visible;
}
.dropdown5>li:hover{
    height: 100px;
    padding-top: 10px;
    background-color: palevioletred;
}
body{
    height: 100vh;
}
section{
    background-image: url(https://img.freepik.com/premium-photo/cute-pet-cat-listening-music-with-headphones-3d-illustration-generative-ai_922357-10093.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 4rem;
    padding-left: -10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
